// # Color variables
$color-white: #fff;
$color-light-gray: #ced4da;
$color-gray: #e9ecef;
$color-red: #E01A76;
$color-dark-blue: #0366d6;
$color-blue: #1b6ec2;
$color-border-blue: #1861ac;
$color-light-black: #212529;

// # Sizes
$body-padding: 30px 0;
$primary-button-padding: 10px 20px;
$form-field-margin: 5px;